
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');

.font-fontLogo{
    font-family:  'Dancing Script', cursive;
}
.font-domine{
    font-family: 'Domine', serif;
}
.gridImage{
    max-height: 300px;
    width: 100%;
}
.tableImage{
    max-width: 100px;
}
.nav-active{
    font-weight: 900;
}
a:hover{
    /* text-decoration: none; */
    color: inherit;
}
.customCard{
    display: flex;
    flex-wrap: wrap;
}
.customCardImg{
    flex: 1;
}
.customCardP{
    flex: 2;
}
.customCart{
    display: flex;
    flex-wrap: wrap;
}
.customCartInfo{
    flex: 2;
    margin: 10px 30px;
}
.customCartPayment{
    flex: 1;
}

@media only screen and (max-width: 600px) 
{
    .customCart{
        display: flex;
        flex-direction: column;
    }
    .customCartInfo{
        flex: 1;
        margin: 10px 30px;
    }
    .customCartPayment{
        flex: 1;
    }
    
}

/* PAGINATION */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginationItem {
  background: #fff;
  border: 2px solid #666;
  padding: 10px 15px;
  border-radius: 0%;
  height: 45px;
  width: 45px;
  position: relative;
  margin: 0 5px;
  cursor: pointer;
}

.paginationItem span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prev,
.next {
  background: #BE185D;
  border: none;
  padding: 10px;
  color: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  margin: 0 10px;
  cursor: pointer;
}

.paginationItem.active {
  border: 1px solid #BE185D;
  color: #BE185D;
  pointer-events: none;
}

.prev.disabled,
.next.disabled {
  pointer-events: none;
  box-shadow: none;
  background: #F472B6;
  color: #fff;
}

